@use "../../styles/colors";
.wrapper {
  background-color: colors.$background_paper;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  .searchContainer {
    background-color: colors.$background_default;
    border-radius: 30px;
    width: 90%;
    display: flex;
    align-items: center;
    padding: 0 10px;
  }
  input {
    width: 100% !important;
    padding: 13px 12px !important;
    border: 0;
    background-color: colors.$background_default;
    color: colors.$text_secondary;
    border-radius: 30px;

    outline: none;
  }

  a {
    text-decoration: none;
    color: colors.$text_secondary;
  }
}
